<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <!-- Latest compiled and minified CSS Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student Management</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <h1> List Students </h1>
        <div class = "row">
            <div class=""col-lg-3>
                <a th:href="@{/students/new}" class=""btn btn-primary btn-sm md-3>Add Student</a>
            </div>
        </div>
    </div>
    <table class = "table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th> Student First Name </th>
            <th> Student Last Name </th>
            <th> Student Email </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student :${students}"> <!--the ${students} is same name mentioned in attributeName in StudentController-->
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.email}"></td>
            <td>
                <a th:href="@{/students/edit/{id}(id=${students.id})" class = "btn btn-primary">Update</a>
                <a th:href="@{/students/{id}(id=${students.id})" class = "btn danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>