<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <!-- Latest compiled and minified CSS Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1> List Students </h1>
    </div>
    <table class = "table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th> Student First Name </th>
            <th> Student Last Name </th>
            <th> Student Email </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student :${students}"> <!--the ${students} is same name mentioned in attributeName in StudentController-->
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.email}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>